.site-branding {
  height: 100%;
  display: flex;
  align-items: center;
  .header-logo-link {
    display: flex;
    height: 100%;
    align-items: center;
    .header-logo {
      height: var(--max-logo-height, calc(var(--header-height) - 2rem));
      max-width: none;
    }
  }
}
