body,
html {
    overflow-x: hidden;
}

html {
    max-width: 1920px;
    margin: auto;
    background: #1a1a1d;
}

body:not(.page-template-page-landing) .content-area {
    padding: var(--content-inset);
}

body:not(.page-template-page-homepage, .page-template-page-landing) .content-area {
    margin-bottom: 30px;
}
